---
const projects = [
  {
    title: "Project 1",
    description: "lalalallalalalalalalala",
    link: "#",
    github: "#",
    image: "../../assets/imgs/882shots_so.webp",
    tags: ["HTML", "JS", "CSS"],
  },
];
---

{
  projects.map(({ title, description, link, github, image, tags }) => (
    <article>
      <h3>{title}</h3>
      <p>{description}</p>
      <ul>
        {tags.map((tag) => (
          <li>{tag}</li>
        ))}
      </ul>
      <img src={image} alt={title} />
    </article>
  ))
}
